asgiref==3.2.10
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
cycler==0.10.0
decorator==4.4.2
Django==3.1.1
django-crispy-forms==1.9.2
EasyProcess==0.2.7
fabio==0.10.2
future==0.18.2
h5py==2.10.0
idna==2.6
kiwisolver==1.2.0
matplotlib==3.3.1
numpy==1.19.1
oauthlib==2.0.6
Pillow==8.1.1
pycparser==2.20
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.1
pyscreenshot==0.5.1
python-dateutil==2.8.1
python-telegram-bot==12.4.2
python-twitter==3.3
pytz==2020.1
requests>=2.20.0
requests-oauthlib==0.8.0
six==1.14.0
sqlparse==0.3.1
tornado==6.0.4
urllib3>=1.24.2
